<!DOCTYPE html>
<html lang="en">

  <head>
  	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110962916-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-110962916-1');

	</script>
	<!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}""></script>

    <!-- Custom scripts for this template -->
    <script src='{{ url_for("static", filename="js/stylish-portfolio.min.js") }}'></script>
	<script src="{{ url_for('static', filename='js/loadingoverlay.min.js') }}"></script>
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lex-123123Song-Reco</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css") }}"" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename="vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename="vendor/simple-line-icons/css/simple-line-icons.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename="css/stylish-portfolio.css") }}" rel="stylesheet">

  </head>

</html>
