<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Shaham's Lexical Song Reco" />
<meta name="keywords" content="song, reco, shaham, farooq, app, nlp" />

<title>Comotia - Free Coming Soon Splash Page CSS3</title>

<link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">

<style type="text/css">
</style>

</head>

<body>

<div id="coming-soon">

<h1>Lexical Song Recommendations from Shaham's Playlist</h1>

<p>A simple coming soon song reco app that uses lexical analysis.</p>

<form method="POST">
	<div id="subscribe">
		<input type="text" name="text" placeholder="enter a song name and artist names...">
		<input type="submit">
		<div class="clear"></div>
	</div>
</form>

<a href="http://twitter.com/shahamfarooqb" title="Visit Shaham on Twitter" class="twitter center">shahamfarooq</a>

</div>

</body>
</html>
