<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Digi-Light WebApp</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/agency.min.css') }}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Digi-Lighter</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <!-- <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul> -->
        </div>
      </div>
    </nav>

    <!-- Header -->
   <!--  <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Digitize your Highlights.</div>
        </div>
      </div>
      
    </header> -->

    <!-- Services -->
    <section id="services">
      <div class="container text-center">
          <!-- <div class="row">
             <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
              <div class="col-md-6">
                  <input type="file" class="form-control" id="images" name="images" onchange="preview_images();" multiple/>
              </div>
              <div class="col-md-6">
                  <input type="submit" class="btn btn-primary" name='submitbtn' value="Upload Multiple Image"/>
              </div>

             </form>
             </div> -->

             <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
             <div class="imageupload panel panel-default">
                  <div class="panel-heading clearfix">
                      <h3 class="panel-title pull-left">Upload Your Highlights</h3>
                      <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default active">File</button>
                          <button type="button" class="btn btn-default">URL</button>
                      </div>
                  </div>
                  <div class="file-tab panel-body">
                      <label class="btn btn-default btn-file">
                          <span>Browse</span>
                          <!-- The file is stored here. -->
                          <input type="file" name="images">
                      </label>
                      <button type="button" class="btn btn-default">Remove</button>
                  </div>
                  <div class="url-tab panel-body">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Image URL">
                          <div class="input-group-btn">
                              <button type="button" class="btn btn-default">Submit</button>
                          </div>
                      </div>
                      <button type="button" class="btn btn-default">Remove</button>
                      <!-- The URL is stored here. -->
                      <input type="hidden" name="image-url">
                  </div>
              </div>
              <div class="col-md-12">
                  <input type="submit" class="btn btn-primary" name='submitbtn' value="Digitize it."/>
              </div>
              </form>
             
        </div>
      <div class="container">
            <div class="row">
            <h5>{{ output_print }}</h5>
            </div>
               <div class="row" id="image_preview" >
                 
                 <div class='col-md-offset-2 col-md-8'>
                 <img class='img-responsive' style="width: 200px; height: 150px;" src="
                 {{ url_for('static', filename=file_path) }}">
                 </div>
               </div>

        </div>
    </section>

    

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Shaham.me 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-user"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Contact form JavaScript -->
    <!-- <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script> -->


    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/agency.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imgupload.js') }}"></script>

    <script>
       function preview_images() 
        {
         var total_file=document.getElementById("images").files.length;
         for(var i=0;i<total_file;i++)
         {
          $('#image_preview').append("<div class='col-md-3'><img class='img-responsive' style='width: 200px; height: 150px;' src='"+URL.createObjectURL(event.target.files[i])+"'></div>");
         }
        };

        $('.imageupload').imageupload({
            allowedFormats: [ 'jpg', 'png', 'jpeg' ],
            maxFileSizeKb: 16000
        });
  </script>

  </body>

</html>
